In [1]:
# Initialize Otter
import otter
grader = otter.Notebook("lab4.ipynb")

# Lab 4: Putting it all together in a mini project

**This lab is an optional group lab.** You can choose to work alone of in a group of up to four students. You are in charge of how you want to work and who you want to work with. Maybe you really want to go through all the steps of the ML process yourself or maybe you want to practice your collaboration skills, it is up to you! Just remember to indicate who your group members are (if any) when you submit on Gradescope. If you choose to work in a group, you only need to use one of your GitHub repos.

<!-- BEGIN QUESTION -->

<div class="alert alert-info">

## Submission instructions
rubric={mechanics}

<p>You receive marks for submitting your lab correctly, please follow these instructions:</p>

<ul>
  <li><a href="https://ubc-mds.github.io/resources_pages/general_lab_instructions/">
      Follow the general lab instructions.</a></li>
  <li><a href="https://github.com/UBC-MDS/public/tree/master/rubric">
      Click here to view a description of the rubrics used to grade the questions</a></li>
  <li>Make at least three commits.</li>
  <li>Push your <code>.ipynb</code> file to your GitHub repository for this lab and upload it to Gradescope.</li>
    <ul>
      <li>Before submitting, make sure you restart the kernel and rerun all cells.</li>
    </ul>
  <li>Also upload a <code>.pdf</code> export of the notebook to facilitate grading of manual questions (preferably WebPDF, you can select two files when uploading to gradescope)</li>
  <li>Don't change any variable names that are given to you, don't move cells around, and don't include any code to install packages in the notebook.</li>
  <li>The data you download for this lab <b>SHOULD NOT BE PUSHED TO YOUR REPOSITORY</b> (there is also a <code>.gitignore</code> in the repo to prevent this).</li>
  <li>Include a clickable link to your GitHub repo for the lab just below this cell
    <ul>
      <li>It should look something like this https://github.ubc.ca/MDS-2020-21/DSCI_531_labX_yourcwl.</li>
    </ul>
  </li>
</ul>
</div>

_Points:_ 2

https://github.ubc.ca/MDS-2022-23/DSCI_573_lab4_lukey112

<!-- END QUESTION -->

## Introduction <a name="in"></a>

In this lab you will be working on an open-ended mini-project, where you will put all the different things you have learned so far in 571 and 573 together to solve an interesting problem.

A few notes and tips when you work on this mini-project: 

#### Tips
1. Since this mini-project is open-ended there might be some situations where you'll have to use your own judgment and make your own decisions (as you would be doing when you work as a data scientist). Make sure you explain your decisions whenever necessary. 
2. **Do not include everything you ever tried in your submission** -- it's fine just to have your final code. That said, your code should be reproducible and well-documented. For example, if you chose your hyperparameters based on some hyperparameter optimization experiment, you should leave in the code for that experiment so that someone else could re-run it and obtain the same hyperparameters, rather than mysteriously just setting the hyperparameters to some (carefully chosen) values in your code. 
3. If you realize that you are repeating a lot of code try to organize it in functions. Clear presentation of your code, experiments, and results is the key to be successful in this lab. You may use code from lecture notes or previous lab solutions with appropriate attributions. 

#### Assessment
We don't have some secret target score that you need to achieve to get a good grade. **You'll be assessed on demonstration of mastery of course topics, clear presentation, and the quality of your analysis and results.** For example, if you just have a bunch of code and no text or figures, that's not good. If you instead do a bunch of sane things and you have clearly motivated your choices, but still get lower model performance than your friend, don't sweat it.


#### A final note
Finally, the style of this "project" question is different from other assignments. It'll be up to you to decide when you're "done" -- in fact, this is one of the hardest parts of real projects. But please don't spend WAY too much time on this... perhaps "several hours" but not "many hours" is a good guideline for a high quality submission. Of course if you're having fun you're welcome to spend as much time as you want! But, if so, try not to do it out of perfectionism or getting the best possible grade. Do it because you're learning and enjoying it. Students from the past cohorts have found such kind of labs useful and fun and we hope you enjoy it as well.

<!-- BEGIN QUESTION -->

<div class="alert alert-info">

## 1. Pick your problem and explain the prediction problem <a name="1"></a>
rubric={reasoning}

In this mini project, you will pick one of the following problems: 

1. A classification problem of predicting whether a credit card client will default or not. For this problem, you will use [Default of Credit Card Clients Dataset](https://www.kaggle.com/uciml/default-of-credit-card-clients-dataset). In this data set, there are 30,000 examples and 24 features, and the goal is to estimate whether a person will default (fail to pay) their credit card bills; this column is labeled "default.payment.next.month" in the data. The rest of the columns can be used as features. You may take some ideas and compare your results with [the associated research paper](https://www.sciencedirect.com/science/article/pii/S0957417407006719), which is available through [the UBC library](https://www.library.ubc.ca/). 

OR 

2. A regression problem of predicting `reviews_per_month`, as a proxy for the popularity of the listing with [New York City Airbnb listings from 2019 dataset](https://www.kaggle.com/dgomonov/new-york-city-airbnb-open-data). Airbnb could use this sort of model to predict how popular future listings might be before they are posted, perhaps to help guide hosts create more appealing listings. In reality they might instead use something like vacancy rate or average rating as their target, but we do not have that available here.

**Your tasks:**

1. Spend some time understanding the problem and what each feature means. Write a few sentences on your initial thoughts on the problem and the dataset. 
2. Download the dataset and read it as a pandas dataframe. 
3. Carry out any preliminary preprocessing, if needed (e.g., changing feature names, handling of NaN values etc.)
    
</div>

_Points:_ 3

_Type your answer here, replacing this text._

In [2]:
import pandas as pd
import altair as alt
from altair_data_server import data_server

# Save a vega-lite spec and a PNG blob for each plot in the notebook
alt.renderers.enable('mimetype')
# Handle large data sets without embedding them in the notebook
alt.data_transformers.enable('data_server')

df = pd.read_csv('data/AB_NYC_2019.csv')
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [3]:
df = df.query('not reviews_per_month.isnull()')
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129

In [4]:
unique_df = pd.DataFrame()
unique_df['columns'] = df.columns
unique_df['valid_count'] = df.count(axis=0).reset_index()[0]
unique_df['unique_count'] = df.nunique().reset_index()[0]
unique_df

                           columns  valid_count  unique_count
0                               id        38843         38843
1                             name        38837         38269
2                          host_id        38843         30251
3                        host_name        38827          9886
4              neighbourhood_group        38843             5
5                    neighbourhood        38843           218
6                         latitude        38843         17443
7                        longitude        38843         13641
8                        room_type        38843             3
9                            price        38843           581
10                  minimum_nights        38843            89
11               number_of_reviews        38843           393
12                     last_review        38843          1764
13               reviews_per_month        38843           937
14  calculated_host_listings_count        38843            47
15                availability_365        38843           366

It seems that after getting the valid targets, most of the data does not contain `NaN`.

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

<div class="alert alert-info">

## 2. Data splitting <a name="2"></a>
rubric={reasoning}

**Your tasks:**

1. Split the data into train and test portions.

> Make the decision on the `test_size` based on the capacity of your laptop. 
    
</div>

_Points:_ 1

In [5]:
from sklearn.model_selection import train_test_split
df['time_from_last_review'] = ((pd.to_datetime( df['last_review']))-max(pd.to_datetime( df['last_review']))).dt.total_seconds()
train_df, test_df = train_test_split(df, test_size=0.8, random_state=573)

X_train,y_train = train_df.drop(columns=['reviews_per_month']), train_df['reviews_per_month']
X_test,y_test = test_df.drop(columns=['reviews_per_month']), test_df['reviews_per_month']

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

<div class="alert alert-info">

## 3. EDA <a name="3"></a>
rubric={viz,reasoning}
    
Perform exploratory data analysis on the train set.

**Your tasks:**

1. Include at least two summary statistics and two visualizations that you find useful, and accompany each one with a sentence explaining it.
2. Summarize your initial observations about the data. 
3. Pick appropriate metric/metrics for assessment. 
    
</div>

_Points:_ 6

_Type your answer here, replacing this text._

In [6]:
...

Ellipsis

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

<div class="alert alert-warning">

## 4. Feature engineering (Challenging)
rubric={reasoning}

**Your tasks:**

1. Carry out feature engineering. In other words, extract new features relevant for the problem and work with your new feature set in the following exercises. You may have to go back and forth between feature engineering and preprocessing.
    
</div>

_Points:_ 0.5

In [7]:
# df['time_from_last_review'] = ((pd.to_datetime( df['last_review']))-max(pd.to_datetime( df['last_review']))).dt.total_seconds()

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

<div class="alert alert-info">

## 5. Preprocessing and transformations <a name="5"></a>
rubric={accuracy,reasoning}

**Your tasks:**

1. Identify different feature types and the transformations you would apply on each feature type. 
2. Define a column transformer, if necessary. 
    
</div>

_Points:_ 4

In [8]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'time_from_last_review'],
      dtype='object')

In [9]:
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
drop_features = ['id', 'name', 'host_id', 'host_name','last_review']
categorical_features = ['neighbourhood_group',
                        'neighbourhood',
                        'room_type']
numerical_features = ['latitude', 
                      'longitude',
                      'time_from_last_review',
                      'price',
                      'minimum_nights',
                      'number_of_reviews',
                      'availability_365',
                      'calculated_host_listings_count']
preprocessor = make_column_transformer(
    ('drop',drop_features),
    (OneHotEncoder(handle_unknown='ignore'),categorical_features),
    (StandardScaler(), numerical_features)
)

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

<div class="alert alert-info">

## 6. Baseline model <a name="6"></a>
rubric={accuracy}

**Your tasks:**
1. Train a baseline model for your task and report its performance.
    
</div>

_Points:_ 2

In [10]:
from sklearn.dummy import DummyRegressor
from sklearn.model_selection import cross_validate
from sklearn.pipeline import make_pipeline
cross_val_results = pd.DataFrame()
cross_val_results["dummy"] = pd.DataFrame(cross_validate(
    make_pipeline(preprocessor, DummyRegressor()),
    X_train,
    y_train,
    cv=5,
    return_train_score=True,
)).agg('mean').T

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

<div class="alert alert-info">

## 7. Linear models <a name="7"></a>
rubric={accuracy,reasoning}

**Your tasks:**

1. Try a linear model as a first real attempt. 
2. Carry out hyperparameter tuning to explore different values for the regularization hyperparameter. 
3. Report cross-validation scores along with standard deviation. 
4. Summarize your results.
    
</div>

_Points:_ 8

_Type your answer here, replacing this text._

In [11]:
from sklearn.linear_model import Ridge
pipe_lr = make_pipeline(preprocessor, Ridge())
cross_val_results["ridge"] = pd.DataFrame(cross_validate(
    pipe_lr,
    X_train,
    y_train,
    cv=5,
    return_train_score=True,
)).agg('mean').T

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

<div class="alert alert-info">

## 8. Different models <a name="8"></a>
rubric={accuracy,reasoning}

**Your tasks:**
1. Try out three other models aside from the linear model. 
2. Summarize your results in terms of overfitting/underfitting and fit and score times. Can you beat the performance of the linear model? 
    
</div>

_Points:_ 10

_Type your answer here, replacing this text._

In [12]:
from sklearn.svm import SVR
pipe_svr = make_pipeline(preprocessor, SVR())
cross_val_results["svr"] = pd.DataFrame(cross_validate(
    pipe_svr,
    X_train,
    y_train,
    cv=5,
    n_jobs=-1,
    return_train_score=True,
)).agg('mean').T

In [13]:
from sklearn.ensemble import RandomForestRegressor
pipe_rf = make_pipeline(preprocessor, RandomForestRegressor(random_state=573,
                                                            n_jobs=-1))
cross_val_results["random forest"] = pd.DataFrame(cross_validate(
    pipe_rf,
    X_train,
    y_train,
    cv=5,
    n_jobs=-1,
    return_train_score=True,
)).agg('mean').T

In [14]:
from catboost import CatBoostRegressor
pipe_cat = make_pipeline(preprocessor, CatBoostRegressor(verbose=False,
                                                         random_state=573))
cross_val_results["catboost"] = pd.DataFrame(cross_validate(
    pipe_cat,
    X_train,
    y_train,
    cv=5,
    n_jobs=-1,
    return_train_score=True,
)).agg('mean').T
cross_val_results

                dummy     ridge       svr  random forest  catboost
fit_time     0.006537  0.011004  1.105342       5.799506  2.712986
score_time   0.002410  0.002366  0.169683       0.027120  0.008961
test_score  -0.001158  0.396633  0.466318       0.603091  0.627788
train_score  0.000000  0.431999  0.503027       0.945253  0.811817

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

<div class="alert alert-warning">

## 9. Feature selection (Challenging)
rubric={reasoning}

**Your tasks:**

Make some attempts to select relevant features. You may try `RFECV`, forward selection or L1 regularization for this. Do the results improve with feature selection? Summarize your results. If you see improvements in the results, keep feature selection in your pipeline. If not, you may abandon it in the next exercises unless you think there are other benefits with using less features.
    
</div>

_Points:_ 0.5

_Type your answer here, replacing this text._

In [15]:
from sklearn.feature_selection import RFECV
pipe_rfe_cat = make_pipeline(preprocessor, RFECV(Ridge(), cv=10),
                             CatBoostRegressor(verbose=False,
                                               random_state=573))
cross_val_results["catboost_rfe"] = pd.DataFrame(cross_validate(
    pipe_rfe_cat,
    X_train,
    y_train,
    cv=5,
    n_jobs=-1,
    return_train_score=True,
)).agg('mean').T
cross_val_results

,dummy,ridge,svr,random forest,catboost,catboost_rfe
fit_time,0.006537,0.011004,1.105342,5.799506,2.712986,8.186699
score_time,0.002410,0.002366,0.169683,0.027120,0.008961,0.009538
test_score,-0.001158,0.396633,0.466318,0.603091,0.627788,0.614199
train_score,0.000000,0.431999,0.503027,0.945253,0.811817,0.794001

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

<div class="alert alert-info">

## 10. Hyperparameter optimization
rubric={accuracy,reasoning}

**Your tasks:**

Make some attempts to optimize hyperparameters for the models you've tried and summarize your results. In at least one case you should be optimizing multiple hyperparameters for a single model. You may use `sklearn`'s methods for hyperparameter optimization or fancier Bayesian optimization methods. 
  - [GridSearchCV](http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html)   
  - [RandomizedSearchCV](http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.RandomizedSearchCV.html)
  - [scikit-optimize](https://github.com/scikit-optimize/scikit-optimize) 
    
</div>

_Points:_ 6

_Type your answer here, replacing this text._

In [16]:
import numpy as np
param_grid = {
    "catboostregressor__learning_rate": np.arange(0,1,0.1),
    "catboostregressor__max_depth": np.arange(4,10,1),
    "catboostregressor__l2_leaf_reg": [1,2,5,10,20],
}

from sklearn.model_selection import GridSearchCV
grid_search = GridSearchCV(
    pipe_cat, 
    param_grid,
    cv=5,
    n_jobs=-1,
    return_train_score=True,
)
grid_search.fit(X_train, y_train)
grid_search.best_score_

/opt/miniconda3/envs/573/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:378: FitFailedWarning:
150 fits failed out of a total of 1500.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
150 fits failed with the following error:
Traceback (most recent call last):
  File "/opt/miniconda3/envs/573/lib/python3.10/site-packages/sklearn/model_selection/_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/opt/miniconda3/envs/573/lib/python3.10/site-packages/sklearn/pipeline.py", line 382, in fit
    self._final_estimator.fit(Xt, y, **fit_params_last_step)
  File "/opt/miniconda3/envs/573/lib/python3.10/site-packages/catboost/core.py", line 5590, in fit
    return self._fit(X, y, cat_features, None, None, None, sample_weight, None, None, None, None, baseline,
  File "/opt/miniconda3/envs/573/lib/python3.10/site-packages/catboost/core.py", line 2262, in _fit
    train_params = self._prepare_train_params(
  File "/opt/miniconda3/envs/573/lib/python3.10/site-packages/catboost/core.py", line 2194, in _prepare_train_params
    _check_train_params(params)
  File "_catboost.pyx", line 6032, in _catboost._check_train_params
  File "_catboost.pyx", line 6051, in _catboost._check_train_params
_catboost.CatBoostError: catboost/private/libs/options/boosting_options.cpp:79: Learning rate should be non-zero

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/opt/miniconda3/envs/573/lib/python3.10/site-packages/sklearn/model_selection/_search.py:953: UserWarning: One or more of the test scores are non-finite: [       nan        nan        nan        nan        nan        nan
 0.6136184  0.61575662 0.61274716 0.61559853 0.61511929 0.60783407
 0.60107194 0.59299678 0.5972682  0.59129112 0.59204211 0.59644821
 0.57515807 0.57965115 0.57655368 0.575649   0.57681134 0.57484805
 0.56564352 0.56083461 0.56538896 0.56759028 0.55868946 0.56376965
 0.54312001 0.54162557 0.54138719 0.54597524 0.54306244 0.54680028
 0.52346722 0.52237667 0.51685248 0.52959407 0.51744068 0.52449754
 0.5108987  0.50958499 0.51068028 0.50462553 0.50847492 0.5048211
 0.47710452 0.49989366 0.48762096 0.47958104 0.49217731 0.48316588
 0.46818496 0.46417892 0.44491552 0.4561663  0.47467717 0.46894299
        nan        nan        nan        nan        nan        nan
 0.61738106 0.61771861 0.61414642 0.61832469 0.61591778 0.61573729
 0.60148009 0.60296849 0.59897485 0.5953197  0.60078669 0.59470166
 0.58496061 0.58151337 0.57807502 0.58027061 0.58703858 0.58852163
 0.57534734 0.56413016 0.56604091 0.56675412 0.56035399 0.56957181
 0.55388486 0.54805088 0.55416488 0.54884196 0.56169151 0.56049218
 0.52695125 0.54253198 0.53355985 0.55229509 0.54139928 0.53653809
 0.50925489 0.51325457 0.52603772 0.53402802 0.51781402 0.52488284
 0.50954063 0.49619057 0.49236873 0.51038218 0.51393185 0.49349834
 0.47046851 0.47424008 0.47311868 0.47542287 0.49344826 0.49678791
        nan        nan        nan        nan        nan        nan
 0.6213349  0.62216786 0.62032349 0.62044132 0.62317182 0.62031974
 0.61249979 0.60969146 0.60426232 0.60029888 0.60770312 0.6056422
 0.59765505 0.59089632 0.58587673 0.58581456 0.59287525 0.58840665
 0.58018016 0.57663994 0.57154767 0.57275795 0.58335252 0.58435966
 0.57377555 0.56934758 0.5641001  0.55783832 0.5609816  0.57177194
 0.56105479 0.54645397 0.5559617  0.55342441 0.55831155 0.55322221
 0.53502147 0.5300981  0.53367924 0.52892337 0.53410089 0.53042611
 0.52647564 0.51250805 0.53354972 0.52698027 0.5286074  0.51877257
 0.50557367 0.49526396 0.51134134 0.49156581 0.51814174 0.51041249
        nan        nan        nan        nan        nan        nan
 0.62572703 0.6275595  0.62480056 0.62765007 0.62873796 0.62289575
 0.62147851 0.61887301 0.61432006 0.61069895 0.6109229  0.60893897
 0.61169066 0.60975317 0.59880714 0.59704852 0.6007107  0.59145438
 0.59603759 0.59228402 0.59111767 0.58509393 0.59184212 0.5903081
 0.58662608 0.57549752 0.57072393 0.57863884 0.56629916 0.5657032
 0.5728333  0.57136241 0.56670515 0.56040996 0.55740993 0.56018181
 0.55954021 0.55210155 0.5465837  0.55024192 0.55023409 0.5680145
 0.5499141  0.53386466 0.53312284 0.54215749 0.53183949 0.54149444
 0.52125092 0.51687497 0.51974469 0.52603809 0.52016867 0.52829506
        nan        nan        nan        nan        nan        nan
 0.62245565 0.6233493  0.62829858 0.62709525 0.62875225 0.62973066
 0.62388632 0.62389079 0.62538827 0.62106524 0.61922673 0.61887988
 0.6153206  0.61507622 0.61550736 0.60969395 0.61001372 0.60366915
 0.61486376 0.60606649 0.60149544 0.59975371 0.59420425 0.60244877
 0.60426194 0.59420053 0.5883412  0.57943051 0.58606842 0.58287859
 0.59346001 0.58829585 0.57567168 0.58181085 0.57225049 0.58185726
 0.57195513 0.57102261 0.56253206 0.55940885 0.5693068  0.56939891
 0.56364458 0.56198517 0.54306277 0.55116831 0.55274919 0.55574945
 0.54819866 0.53659789 0.53751499 0.55281541 0.54855738 0.54421113]
  warnings.warn(
/opt/miniconda3/envs/573/lib/python3.10/site-packages/sklearn/model_selection/_search.py:953: UserWarning: One or more of the train scores are non-finite: [       nan        nan        nan        nan        nan        nan
 0.8159296  0.86360082 0.90453273 0.93854436 0.96455239 0.98204065
 0.8807941  0.92905133 0.96145597 0.98216151 0.99286919 0.99765189
 0.91829052 0.96003322 0.98224221 0.99329629 0.99818088 0.99960305
 0.9420456  0.97483011 0.99078618 0.99742256 0.99943191 0.99991263
 0.95629958 0.98325362 0.99477912 0.99880163 0.99980638 0.99998162
 0.96497804 0.98820833 0.99698872 0.99941444 0.99993449 0.99999531
 0.97167143 0.99198996 0.99807407 0.99971007 0.99997598 0.999999
 0.97631834 0.99365947 0.99876525 0.99985635 0.99999138 0.99999973
 0.97979363 0.99523782 0.99911632 0.99992189 0.99999602 0.99999993
        nan        nan        nan        nan        nan        nan
 0.80004117 0.84432455 0.88486552 0.92118941 0.95180809 0.97084803
 0.86465396 0.91305084 0.94924908 0.97255932 0.98758634 0.99527127
 0.90379909 0.94863779 0.97448515 0.98909159 0.99627092 0.99898765
 0.9287961  0.96612252 0.98662217 0.99514212 0.99856594 0.99973233
 0.94615792 0.97715539 0.99193614 0.99768079 0.99948972 0.99992097
 0.95746536 0.98422984 0.99487186 0.99881    0.99979457 0.99997645
 0.96558218 0.9880763  0.99687338 0.99934343 0.99991314 0.99999341
 0.97123428 0.99096541 0.99787002 0.99965416 0.99996241 0.99999786
 0.97568123 0.99296434 0.99859197 0.99980372 0.99998205 0.99999938
        nan        nan        nan        nan        nan        nan
 0.7715538  0.80712892 0.84314693 0.87747257 0.91106123 0.93770973
 0.82822787 0.87512156 0.91395086 0.94585432 0.96764892 0.9829077
 0.87003501 0.91799676 0.94981969 0.97335933 0.98770986 0.99482099
 0.90063882 0.94377192 0.97179062 0.98678416 0.9944784  0.99810028
 0.92214631 0.96075727 0.98192144 0.99286047 0.99760707 0.99930649
 0.93734036 0.97071429 0.98838116 0.99616133 0.99881624 0.99974394
 0.94981393 0.97874065 0.99193381 0.99766348 0.9994308  0.99988834
 0.95822795 0.9835676  0.99455345 0.99859552 0.99972394 0.99995847
 0.96451178 0.98723746 0.99628198 0.99914591 0.99984714 0.99998343
        nan        nan        nan        nan        nan        nan
 0.74383502 0.77435602 0.80498617 0.83100731 0.86201505 0.89439577
 0.79360047 0.83515346 0.86866263 0.90714988 0.93259068 0.95822013
 0.83262478 0.87919031 0.91712787 0.94769926 0.96712481 0.98298394
 0.86484259 0.90934908 0.9467985  0.96962829 0.98396552 0.99212274
 0.88977639 0.93484622 0.96290919 0.98088487 0.99150565 0.99693674
 0.91078318 0.95100701 0.97453705 0.98817472 0.9953915  0.9984182
 0.92588306 0.96230603 0.98301692 0.99287714 0.99767843 0.99922569
 0.94060582 0.97113324 0.98792176 0.99540385 0.99860981 0.99961736
 0.94886864 0.97670743 0.99078969 0.99722561 0.99919916 0.99980246
        nan        nan        nan        nan        nan        nan
 0.71880218 0.74259181 0.76583842 0.78846674 0.81327384 0.84080331
 0.75848368 0.78977445 0.82141383 0.85195634 0.8827795  0.91007162
 0.79155935 0.83093675 0.86867678 0.90057157 0.93040656 0.95011802
 0.81873793 0.86415701 0.8991028  0.93455894 0.95643827 0.97225855
 0.84551518 0.8918983  0.92904664 0.95636053 0.97416611 0.98607369
 0.86833606 0.9134835  0.94635855 0.96909645 0.9835679  0.99182764
 0.88834273 0.93271798 0.96329465 0.98075504 0.99022241 0.9959878
 0.90449811 0.9472642  0.97190298 0.98669261 0.99404941 0.99746873
 0.91995916 0.9562902  0.97999714 0.9902368  0.99603919 0.99858111]
  warnings.warn(

0.6297306625678821

In [17]:
grid_search.best_score_

0.6297306625678821

In [23]:
grid_search.best_params_

{'catboostregressor__l2_leaf_reg': 20,
 'catboostregressor__learning_rate': 0.1,
 'catboostregressor__max_depth': 9}

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

<div class="alert alert-info">

## 11. Interpretation and feature importances <a name="1"></a>
rubric={accuracy,reasoning}

**Your tasks:**

1. Use the methods we saw in class (e.g., `eli5`, `shap`) (or any other methods of your choice) to examine the most important features of one of the non-linear models. 
2. Summarize your observations. 
    
</div>

_Points:_ 8

_Type your answer here, replacing this text._

In [21]:
# Generate a table showing feature importances.
feat_importance = grid_search.best_estimator_.named_steps["catboostregressor"].feature_importances_

# transformed data
preprocessor.fit(X_train, y_train)
X_train_transformed = preprocessor.transform(X_train)
ohe_features = (
    preprocessor.named_transformers_["onehotencoder"].get_feature_names_out().tolist()
)

# Code to get all the feature names
feature_names = numerical_features + ohe_features

pd.DataFrame({"Feature": feature_names, "Feature Importance": feat_importance}).sort_values(
    by="Feature Importance", ascending=False
)

                           Feature  Feature Importance
199        neighbourhood_Woodhaven           30.780687
202      room_type_Entire home/apt           22.404815
201         neighbourhood_Woodside           14.041163
203         room_type_Private room            9.218320
198  neighbourhood_Windsor Terrace            5.747897
..                             ...                 ...
117  neighbourhood_Manhattan Beach            0.000000
174  neighbourhood_Stuyvesant Town            0.000000
22           neighbourhood_Bayside            0.000000
112     neighbourhood_Little Italy            0.000000
92       neighbourhood_Great Kills            0.000000

[205 rows x 2 columns]

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

<div class="alert alert-info">

## 12. Results on the test set <a name="12"></a>
rubric={accuracy,reasoning}

**Your tasks:**

1. Try your best performing model on the test data and report test scores. 
2. Do the test scores agree with the validation scores from before? To what extent do you trust your results? Do you think you've had issues with optimization bias? 
3. Take one or two test predictions and explain them with SHAP force plots.  
    
</div>

_Points:_ 6

_Type your answer here, replacing this text._

In [ ]:
...

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

<div class="alert alert-info">

## 13. Summary of results <a name="13"></a>
rubric={reasoning}

Imagine that you want to present the summary of these results to your boss and co-workers. 

**Your tasks:**

1. Create a table summarizing important results. 
2. Write concluding remarks.
3. Discuss other ideas that you did not try but could potentially improve the performance/interpretability . 
3. Report your final test score along with the metric you used at the top of this notebook.
    
</div>

_Points:_ 8

_Type your answer here, replacing this text._

In [ ]:
...

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

<div class="alert alert-warning">

## 14. Creating a data analysis pipeline (Challenging)
rubric={reasoning}

**Your tasks:**
- In 522 you learned how build a reproducible data analysis pipeline. Convert this notebook into scripts and create a reproducible data analysis pipeline with appropriate documentation. Submit your project folder in addition to this notebook on GitHub and briefly comment on your organization in the text box below.
    
</div>

_Points:_ 2

_Type your answer here, replacing this text._

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

<div class="alert alert-warning">

## 15. Your takeaway from the course (Challenging)
rubric={reasoning}

**Your tasks:**

What is your biggest takeaway from this course? 
    
</div>

_Points:_ 0.25

_Type your answer here, replacing this text._

<!-- END QUESTION -->

<div class="alert alert-danger" style="color:black">
    
**Restart, run all and export a PDF before submitting**
    
Before submitting,
don't forget to run all cells in your notebook
to make sure there are no errors
and so that the TAs can see your plots on Gradescope.
You can do this by clicking the ▶▶ button
or going to `Kernel -> Restart Kernel and Run All Cells...` in the menu.
This is not only important for MDS,
but a good habit you should get into before ever committing a notebook to GitHub,
so that your collaborators can run it from top to bottom
without issues.
    
After running all the cells,
export a PDF of the notebook (preferably the WebPDF export)
and upload this PDF together with the ipynb file to Gradescope
(you can select two files when uploading to Gradescope)
</div>

---

## Help us improve the labs

The MDS program is continually looking to improve our courses, including lab questions and content. The following optional questions will not affect your grade in any way nor will they be used for anything other than program improvement:

1. Approximately how many hours did you spend working or thinking about this assignment (including lab time)?

#Ans:

2. Do you have any feedback on the lab you be willing to share? For example, any part or question that you particularly liked or disliked?

#Ans: